Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
Estructuras.sln
.vsconfig
Assembly-CSharp.csproj
Assets/TextMesh Pro
Assets/Sprite/WhatsApp Video 2025-03-26 at 19.29.48_407df701.mp4
Assets/Sprite/WhatsApp Video 2025-03-26 at 19.29.48_407df701.mp4.meta
structure.json
.vs/
Assets/Sprite/output.mp4
Assets/Sprite/output.mp4.meta